<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.db5443pr2454563g778gl69586575mps896rdf3.android.myholidays">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_holidays"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/my_holidays"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyHolidays">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.MyHolidays.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>